@font-face {
  font-family: "Francois One";
  src: url("../fonts/francoisone-regular-webfont.eot");
  src: url("../fonts/francoisone-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/francoisone-regular-webfont.woff2") format("woff2"),
    url("../fonts/francoisone-regular-webfont.woff") format("woff"),
    url("../fonts/francoisone-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-bold-webfont.eot");
  src: url("../fonts/ptsans-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ptsans-bold-webfont.woff2") format("woff2"),
    url("../fonts/ptsans-bold-webfont.woff") format("woff"),
    url("../fonts/ptsans-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Farro";
  src: url("../fonts/farro-light-webfont.eot");
  src: url("../fonts/farro-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/farro-light-webfont.woff2") format("woff2"),
    url("../fonts/farro-light-webfont.woff") format("woff"),
    url("../fonts/farro-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Farro";
  src: url("../fonts/farro-medium-webfont.eot");
  src: url("../fonts/farro-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/farro-medium-webfont.woff2") format("woff2"),
    url("../fonts/farro-medium-webfont.woff") format("woff"),
    url("../fonts/farro-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Farro";
  src: url("../fonts/farro-regular-webfont.eot");
  src: url("../fonts/farro-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/farro-regular-webfont.woff2") format("woff2"),
    url("../fonts/farro-regular-webfont.woff") format("woff"),
    url("../fonts/farro-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-bolditalic-webfont.eot");
  src: url("../fonts/ptsans-bolditalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ptsans-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/ptsans-bolditalic-webfont.woff") format("woff"),
    url("../fonts/ptsans-bolditalic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-italic-webfont.eot");
  src: url("../fonts/ptsans-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ptsans-italic-webfont.woff2") format("woff2"),
    url("../fonts/ptsans-italic-webfont.woff") format("woff"),
    url("../fonts/ptsans-italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-regular-webfont.eot");
  src: url("../fonts/ptsans-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ptsans-regular-webfont.woff2") format("woff2"),
    url("../fonts/ptsans-regular-webfont.woff") format("woff"),
    url("../fonts/ptsans-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Staatliches";
  src: url("../fonts/staatliches-regular-webfont.eot");
  src: url("../fonts/staatliches-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/staatliches-regular-webfont.woff2") format("woff2"),
    url("../fonts/staatliches-regular-webfont.woff") format("woff"),
    url("../fonts/staatliches-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tourney";
  src: url("../fonts/Tourney-VariableFont_wdth\,wght.ttf");
  font-weight: 600;
  font-style: normal;
}
